<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.templettd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".EventsnaviActivity"
            android:label="@string/title_activity_eventsnavi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutuslogoActivity" />
        <activity android:name=".user_eventregActivity" />
        <activity android:name=".E_RegisterActivity" />
        <activity android:name=".donationActivity"></activity>
    </application>

</manifest>